{{ define "main" }}

<!-- Tag Title -->
{{ if and .Title (eq .Type "tags") }}
<h1 class="mb-14">#{{ .Title }}</h1>
{{ end }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}<!---->
{{ if .IsHome }}<!---->
{{ $pages = where site.RegularPages "Kind" "ne" "section" }}<!---->
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages
}}<!---->

<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
  {{ if gt .Weight 0 }}
  <span class="mb-1 inline-block text-xs tracking-wider text-orange-500"
    >Featured</span
  >
  {{ end }}
  <h2 class="!my-0">{{ .Title }}</h2>
  <time class="text-xs antialiased opacity-60"
    >{{ .Date | time.Format ":date_medium" }}</time
  >
  <a class="absolute inset-0 text-[0]" href="{{ .Permalink }}">{{ .Title }}</a>
</section>
{{ end }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-14 flex">
  {{ if $paginator.HasPrev }}
  <a class="btn plain-btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="btn ml-auto plain-btn" href="{{ $paginator.Next.URL }}"
    >{{ i18n "next_page" }} →</a
  >
  {{ end }}
</nav>
{{ end }}<!---->

{{ end }}
